.maincontainer{
    float: left;
    border: solid brown 2px;
    height: 100vh;
    width: 100%;
}
.msg-header-img{
    position: absolute;
    height:1%;
    width: 1%;
}
.name{
    position: absolute;
    margin-top: 1%;
    margin-left: 12%;
}
.header{
    float: left;
    margin-top: 0%;
    height: 20vh;
    width: 100%;   
    border: solid blue 1px;
    text-align: center;
}

.mid{
    height: 90vh;
    width: 100%;   
    border: solid green 1px;
}

.sendmsg{
    height: 10vh;
    width: 100%;   
    border: solid black 1px;
   
}
.input-group clearfix{
    position: absolute;
    width: 50%;
}

.form-control{
    position: absolute;
    width: 30%;
}
.glyphicon glyphicon-share-alt{
    position: absolute;
    width: 80%;
}
