*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
}

header{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("photos/Bench-Background-36-1920x1080.jpg") ;
height: 100vh;
background-size: cover;
background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right:50px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    font-size: 25px;
    border: 0px;
    transition: 0ms ease;
}
ul li a:hover{
    background-color:#4caf50;
    color:#000;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content h2{
    color: #fff;
    font-size: 60px;
}
.content h3{
    color: #fff;
    font-size: 35px;
    left: 90%;
}
.button{
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 0px solid #fff ;
        padding: 10px 30px;
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        transition: 0ms ease;
    }
.btn:hover{
    background-color:#4caf50;
    color:#000;
}
.main{
    max-width: 1200px;
    margin: auto;
}