
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../photos/IMG_20170224_120557_1487936107848.jpg") no-repeat;
  height: 100vh;
  background-size : cover;
}

.login-box{
  margin-top: 5%;
  width: 280px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: rgb(5, 5, 5);
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: rgb(3, 3, 3);
  font-size: 15px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: rgb(8, 8, 8);
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  margin: 12px 0;
}
.linktoregister
{
  width: 150px;
  border-block-width: 50px;
  align-content: center;
  background-color: #4caf50;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-right: 50px;
}
ul li{
  display: inline-block;
  color: #000;
}
ul li a{
  text-decoration: none;
  color:#000;
  padding: 10px 40px;
  font-size: 25px;
  border: 0px;
  transition: 0ms ease;
}
ul li a:hover{
  background-color:#4caf50;
  color:#000;
}
