body{
    /*background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./photos/DSC_0346.JPG')  ;
    */

    background-color:black;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    margin: 2%;
    margin-top: 4%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    
}
.logo img{
    float: left;
    margin-top: -3%;
    width: 5%;
    height: 5%;
}


.header{
    margin-top: 5%;
    float: left;
    border-bottom: 6px solid  rgb(201, 102, 9);

}
.link{
    margin-left: 15%;
}
img{
    margin-width:  100%;
    border-radius : 50%;
}
.msg-header{

    border: 2px solid#ccc;
    width: 100%;
    height: 2%;
    border-bottom: none;
    display: inline-block;
    background-color: white;
}
.msg-header-img{
    border-radius: 0%;
    width: 30px;
    margin-left: 2%;
    margin-top: 12px;
    margin-bottom: 12px;
    float: left;
}
.active{
    width: 120px;
    float: left;
    margin-left: 10%;
    margin-top: 50px;
}
.active h4{
    font-size: 15px;
    margin-left: 20px;
    color:black;

}

.active h6{

    font-size: 12px;
    margin-left: 20px;
    color:black;
    line-height: 2px;
}

.chat-page{

    padding: 0 0 50px 0;

}
.msg-inbox{

    border: 1px;
    overflow: hidden;
    padding-bottom: 30px;

}
.chats{
    padding: 30px 15px 0 25px;

}
.msg-page{
    height: 516px;
    overflow-y: auto;
}
.received-chats-img{
    display: inline-block;
    width: 20px;
    float: left;
}

.received-msg{
    display: inline;
    float: left;
    margin-left: 80px;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;

}